<div class="col">
    
    <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Productos</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          Nombre del producto
                        </th>
                        <th>
                          Precio
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        {{#each datos1}}
                      <tr>
                        <td>
                          {{idProducto}}
                        </td>
                        <td>
                          {{nombre_producto}}
                        </td>
                        <td>
                          {{precio}}
                        </td>
                      </tr>
                       {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="mt-3">
<div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
              <form action="/tienda/agregar" method="post">
                        <div class="form-group">
                            <h1 for="">Agregar un producto</h1>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre_producto" id="" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="precio" id="" placeholder="Precio">
                        </div>
                       
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Agregar</button> 
                        </div>
                    </form>       
                    </div>
                    </div>
                    </div>
                    </div> 