<!-- Image and text -->
<nav  class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Picture
  </a>
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/signin">Ingresar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/signup">Registro</a>
  </li>
  
</ul>
</nav>